<nav class="mb-10">
    <ul class="flex justify-center gap-3 flex-wrap">
        <li>
            <a routerLink="/decide" routerLinkActive="active" class="px-4 py-2 text-sm text-purple-700 bg-white bg-opacity-60 backdrop-blur-md rounded-full shadow-sm
                hover:bg-opacity-90 hover:text-purple-900
                transition-all" aria-current="page">
                🧩 Decide
            </a>
        </li>
        <li>
            <a routerLink="/zen" routerLinkActive="active" class="px-4 py-2 text-sm text-purple-700 bg-white bg-opacity-60 backdrop-blur-md rounded-full shadow-sm
                hover:bg-opacity-90 hover:text-purple-900
                transition-all">
                🌿 Modo Zen
            </a>
        </li>
    </ul>
</nav>